body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#game-of-life {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#sphere {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#workframe {
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
    border: 2vw solid #0f0f0f;
}

#inner-frame {
    border: 1px solid #909090;
    width: 100%;
    height: 100%;
    padding: 1.5vw;
}

@font-face {
    font-family: 'NeueHaasDisplayXThin';
    src: url('./public/fonts/neue-haas-display-x-thin.ttf') format('opentype');
}

@font-face {
    font-family: 'GilliusADFBoldCondensed';
    src: url('./public/fonts/gillius-adf.bold-cond.otf') format('opentype');
}

#name {
    font-family: 'NeueHaasDisplayXThin', monospace;
    color: #909090;
    text-shadow: -1px 0 #0f0f0f, 0 1px #0f0f0f, 1px 0 #0f0f0f, 0 -1px #0f0f0f;
}

#title {
    font-family: 'NeueHaasDisplayXThin', monospace;
    color: #909090;
    text-shadow: -1px 0 #0f0f0f, 0 1px #0f0f0f, 1px 0 #0f0f0f, 0 -1px #0f0f0f;
}

#quote-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 17%;
    padding: 1.5vw;
}

#quote {
    font-family: 'NeueHaasDisplayXThin', monospace;
    color: #909090;
    text-shadow: -1px 0 #0f0f0f, 0 1px #0f0f0f, 1px 0 #0f0f0f, 0 -1px #0f0f0f;
    font-size: 18px;
}

#author {
    font-family: 'NeueHaasDisplayXThin', monospace;
    color: #909090;
    text-shadow: -1px 0 #0f0f0f, 0 1px #0f0f0f, 1px 0 #0f0f0f, 0 -1px #0f0f0f;
    font-family: 'GilliusADFBoldCondensed', monospace;
}

.divider {
    font-weight: 400;
    text-decoration: none;
    user-select: none;
    pointer-events: none;
    color: #909090;
}

#social-media {
    position: absolute;
    color: #909090;
    bottom: 1.5vw;
    right: 1.5vw;
    display: flex;
    gap: 1vw;
    font-size: 18px;
    text-shadow: -1px 0 #0f0f0f, 0 1px #0f0f0f, 1px 0 #0f0f0f, 0 -1px #0f0f0f;
}

/* Base styles for social media links */
#social-media a p {
    position: relative;
    color: #909090;
    text-transform: uppercase;
    font-family: 'NeueHaasDisplayXThin', monospace;
    transition: color 0.3s ease;
}

/* Hover state for the text color change */
#social-media a:hover p {
    color: #ffae00;
}

/* Adding an underline effect on hover */
#social-media a p::after {
    content: '';
    position: absolute;
    bottom: -3px; /* Adjust to position the line just below the text */
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffae00;
    transition: width 0.3s ease; /* Smooth transition for the line */
}

/* Expand the line on hover */
#social-media a:hover p::after {
    width: 100%;
}

/* Optional: make the vertical divider lines lighter on hover */
#social-media p:hover {
    color: #909090;
}

/* Adjustments for vertical dividers between links */
#social-media p {
    color: #3d3d3d;
    transition: color 0.3s ease;
}

/* Very small screens */
@media (max-width: 399px) {
    #name {
        font-size: 28px;
    }
    #title {
        font-size: 14px;
    }
    #social-media a p,
    #social-media p {
        font-size: 12px; /* Consistent font size for all elements */
    }
    #quote {
        font-size: 0;
    }
    #author {
        font-size: 0;
    }
}

/* Small screens */
@media (min-width: 400px) {
    #name {
        font-size: 33px;
    }
    #title {
        font-size: 16px;
    }
    #social-media a p,
    #social-media p {
        font-size: 12px; /* Consistent font size for all elements */
    }
    #quote {
        font-size: 0;
    }
    #author {
        font-size: 0;
    }
}

/* Medium screens */
@media (min-width: 600px) {
    #name {
        font-size: 35px;
    }
    #title {
        font-size: 17px;
    }
    #social-media a p,
    #social-media p {
        font-size: 20px; /* Consistent font size for all elements */
    }
}

/* Large screens */
@media (min-width: 900px) {
    #name {
        font-size: 50px;
    }
    #title {
        font-size: 25px;
    }
    #social-media a p,
    #social-media p {
        font-size: 22px; /* Consistent font size for all elements */
    }
    #quote-container {
        width: 31%;
    }
    #quote {
        font-size: 20px;
    }
    #author {
        font-size: 17px;
    }
}

/* Extra large screens */
@media (min-width: 1200px) {
    #name {
        font-size: 60px;
    }
    #title {
        font-size: 30px;
    }
    #social-media a p,
    #social-media p {
        font-size: 25px; /* Consistent font size for all elements */
    }
    #quote-container {
        width: 23%;
    }
    #quote {
        font-size: 25px;
    }
    #author {
        font-size: 20px;
    }
}